google-cloud-aiplatform>=1.38.0
google-cloud-bigquery>=3.10.0
google-cloud-storage>=2.10.0
google-adk
pandas
pydantic
pytest
python-dotenv
google-cloud-secret-manager
google-auth
google-api-python-client>=2.100.0
google-auth-httplib2>=0.1.1
google-auth-oauthlib>=1.1.0
reportlab>=4.4.5